 
<!-- beginning of main content-->
      <main>
          <br>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9  bodytext "><br />
         
      
     <h2>Sample Dashboard</h2><acticle>
              
              </acticle>
            
 
            </div>    

  <div class="col-xs-12 col-md-3"><!-- sub content  -->
     
          
          <aside class="panel panel-primary asidetext">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      Filters</h3>
                </div>
                
            </aside>
</div>



        </section>
    </main>
	<div class="divider"></div>