
<!-- beginning of main content-->
      <main>
         
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9  bodytext "><br />
         
      
     <h2>sample Dashboard - {{charts[0].month}}, {{charts[0].year}}</h2><acticle>
             
    <bar-chart data="charts"
               width = 500
               height =200
               >
    </bar-chart>
               <h2></h2>
  <line-chart data="charts"
               width = 500
               height = 200
               >
    </line-chart>

              </acticle>
            
 
            </div>    

  <div class="col-xs-12 col-md-3"><!-- sub content  -->
     
          
          <aside class="panel panel-primary asidetext">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      Filters</h3>
                </div>
                
            </aside>
</div>



        </section>
    </main>
	<div class="divider"></div>