  <!-- footer begins here -->

  <!--<footer>-->
      
  
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left">Sample D3/Angular Dashboard. </p>
            <div class="pull-right">
                <!--button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on top">Site Credit </button>-->
                <!--<a href="http://cajieh.com/" target="_blank"> Site Developer</a>-->
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
<!--</footer>-->

    


      
      <!-- footer ends here-->